# Environment
.env
.env.*

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# IDE
.idea/
.vscode/
*.ipr
*.iws

# Vercel
.vercel/

# OS
.DS_Store
Thumbs.db
nul

# Misc
*.log
*.lock
